<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
{% extends '_base.html' %}
{% block content %}
<div class="container">

    <center>
        <h2>Welcome to Paste World !!!</h2>
    <hr>
        <p>Here you can share anything with your friends by generating a simple url</p><br>
        <p>After submitting the enough details when you click on submit button you are redirected to link page which
        consists your information along with url in the browser. you can access this url anywhere.</p><br>
        <p>Your information is maintained by your browser cookies. Once you deleted the cookies in your browser, you cannot
        access your urls by your history page , but the information is maintained in our database,still you can access the url.</p><br>
        <p><b>History</b> : This will give information about generated urls by you.</p><br>
        <p><b>New</b> : This will redirect to home page</p>
    </center>
</div>
{% endblock %}
</body>
</html>